{% extends "account_base.html" %}
{%block title%}
    Bankbull | Password Reset
{% endblock %}
{% block content %}
    <!-- BEGIN FORGOT PASSWORD FORM -->
<form class="form-vertical forgot-password" action="{% url 'account_password_reset' %}?next={{ next }}{%if request.GET.backurl%}&backurl={{request.GET.backurl}}{%endif%}" role="form" method="post">
    {% csrf_token %}
    <h3 >Forget Password ?</h3>

{% if not form.non_field_errors %}
				<div class="alert alert-error hide">
					<button class="close" data-dismiss="alert"></button>
					<p>Enter your e-mail address below to reset your password.</p>
				</div>
			{% endif %}
        	{% if form.non_field_errors %}
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert"></button>
					<span>{{ form.non_field_errors.0 }}</span>
				</div>
        	{% endif %}
    <div class="control-group">
        <div class="controls">
            <div class="input-icon left">
                <i class="icon-envelope"></i>
                 <input id="{{form.email.auto_id}}" type="email" class="m-wrap placeholder-no-fix" name="{{form.email.html_name}}"  value="{%if form.email.value%}{{form.email.value}}{%endif%}" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="form-actions">
        <a class="btn" href="{%url 'account_login'%}">
            <i class="m-icon-swapleft"></i> Back to Login
        </a>
        <button type="submit" class="btn blue pull-right">
        Submit <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->
{%endblock content%}