{% extends "company_base.html" %}
{% load staticfiles %}
{% load company_tags%}
{% block ccss %}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="/static/company2/plugins/parsley/src/parsley.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}
{%block title%}
    Update Password
{% endblock %}
{% block content %}
    <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="/">Dashboard</a></li>
				<li class="active">Password Update</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Password Update</h1>
			<!-- end page-header -->
              <div class="col-md-9 ui-sortable">
			        <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            </div>
                            <h4 class="panel-title">Password Update</h4>
                        </div>
                        <div class="panel-body">
                          <form data-parsley-validate="true" id="demo-form" class="form-horizontal register-form" action="{% ifequal request.path '/company/client_signup/' %}{% url 'client_account_signup_company' %}{% endifequal %}{% ifequal request.path '/company/employee_signup/' %}{% url 'employee_account_signup_company' %}{% endifequal %}" enctype="multipart/form-data" method="post" role="form">
                                {{ form.non_field_errors }}
                            {% csrf_token %}
                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>
                            <div class="block-content collapse in">
                                    {% if form.password_current.errors %}<div class="row">{{ form.password.errors }}</div>{% endif %}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="{{form.password_current.html_name}}">Current Password*</label>
                                        <div class="col-md-9">
                                          <input class="form-control" data-parsley-required="true" type="password" name="{{form.password_current.html_name}}" id="register_password" placeholder="{{form.password_current.html_name}}" required="required">
                                        </div>
                                    </div>

                                    {% if form.password_new.errors %}<div class="row">{{ form.password_new.errors }}</div>{% endif %}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="{{form.password_new.html_name}}">New Password*</label>
                                        <div class="col-md-9">
                                          <input class="form-control" data-parsley-required="true" data-parsley-minlength="8"
    data-parsley-uppercase="1"
    data-parsley-lowercase="1"
    data-parsley-number="1"
    data-parsley-special="1" type="password" name="{{form.password_new.html_name}}" id="register_password" placeholder="{{form.password_new.html_name}}" required="required">
                                        </div>
                                    </div>

                                {% if form.password_new_confirm.errors %}<div class="row">{{ form.password_new_confirm.errors }}</div>{% endif %}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="{{form.password_new_confirm.html_name}}">Confirm New Password*</label>
                                        <div class="col-md-9">
                                          <input class="form-control" data-parsley-required="true" type="password" autocomplete="off" placeholder="Re-type Your Password" name="{{form.password_new_confirm.html_name}}" id="{{form.password_new_confirm.auto_id}}" required="required"/>
                                        </div>
                                    </div>

                                <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                         <input type="submit" class="btn btn-sm btn-success" value="Change Password" />
                                    </div>
                                </div>

                                </div>



                            </div>
                            </form>

                        </div>
                    </div>
                    <!-- end panel -->
                </div>
		</div>
		<!-- end #content -->


{% endblock %}
{% block extra_js %}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/static/company2/plugins/parsley/dist/parsley.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
{% endblock %}
