{% extends "account_base.html" %}
{% block content %}
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="form-vertical forgot-password">
    <h3 style="text-align: center;" >Forgot Password?</h3>
        <p style="text-align: center;">
            <b>New Message:</b>
        </p>
        <p>
            Instructions on how to reset your password have been sent to you. Please check your inbox.
        </p>
        <br>
        <p>
            If you have not received a message<br> <a id="resend_mail" href="#">click here to Resend</a>
        </p>

        <div class="form-actions" style="text-align: center;">
        <a class="btn" href="{%url 'account_login'%}">
            <i class="m-icon-swapleft"></i> Back to Login
        </a>
    </div>
</form>
    <form id="resend_confirmation_form" method="post" action="/account/password/reset/">
    {% csrf_token %}
        <input type="hidden" value="{{ request.POST.email }}" name="email">
    </form>
<!-- END FORGOT PASSWORD FORM -->
    <script>
    var form = document.getElementById("resend_confirmation_form");

document.getElementById("resend_mail").addEventListener("click", function () {
  form.submit();
});
</script>
{%endblock content%}